# Comma seperated string of discord user ids.
# If you have developer mode enabled in Discord,
# you can simply right click any user and click `Copy ID`
# to get this.
#
# **To enable developer mode:**
#   Go to Discord > Settings > Advanced > Toggle `Developer Mode` on
#
BOT_WHITELIST=
# The max number of movies/series to list in table/dropdown from the search.
BOT_MAX_CONTENT=8

# Your Discord Bots Token.
# If you followed the guide: refer to step 6.
DC_TOKEN=
# Your Discord Applications Client ID.
# If you followed the guide: refer to step 5.
DC_CLIENT_ID=

# URL to your Radarr instance's API.
# If you are not accessing your radarr instance from
# your local network, probably best to use `https`.
RADARR_URL=http://MYIP:7878/api/v3
# Radarr API Key
# You can find this in Radarr, by going to Settings > General,
# under the `Security` section, you will find your API Key.
RADARR_KEY=
# Whether or not to monitor and search for movie on add.
# Valid values: true, false
RADARR_MONITOR=true

# URL to your Sonarr instance's API.
# If you are not accessing your sonarr instance from
# your local network, probably best to use `https`.
SONARR_URL=http://MYIP:8989/api
# Sonarr API Key
# You can find this in Sonarr, by going to Settings > General,
# under the `Security` section, you will find your API Key.
SONARR_KEY=
# Whether or not to monitor and search for series on add.
# Valid values:
#  - all          - Monitor and search for all missing seasons.
#  - none         - Will add show as 'unmonitored'.
#  - firstSeason  - Monitor and search for only the first season.
#  - latestSeason - (seems to be bugged on sonarr, could just be my instance) Monitor and search for only the latest season.
SONARR_MONITOR=firstSeason
